body{
  padding: 0;
  margin: 0;

}

/* Global */
.container {
  display: inline-block;
  width: 100%;
}

ul {
  list-style: none;
  margin-left: -40px;
}

.button_1 {
  height: 34px;
  width: 80px;
  background-color: rgb(98, 155, 81);
  border: none;
  color: rgb(246, 255, 246);
}

.dark {
  background-color: rgb(201, 19, 19);
  padding: 20px;
  margin: 12px 20px;
}

/* Header **/
header {
  width: 100%;
  background-color: rgb(238, 255, 0);
  display: inline-block;
  border-bottom: 3px rgb(33, 22, 189) solid;
}

header a {
  text-decoration: none;
  font-size: 26px;
}

header li {
  display: inline-block;
  margin: 0 14px;
}

header #branding {
  margin-left: 100px;
  float: left;
}

header #branding h1 {
  font-size: 34px;
  line-height: 50px;

}

header nav {
  float: right;
  margin-top: 20px;
  padding: 0 20px;
}

header .highlight,
header .current a {
  color: rgb(219, 107, 32);
}

header a:hover {
  color: rgb(30, 45, 179);
}

/* Showcase */
#showcase {
  background-image: url("../img/showcase.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  position: relative;
}

#showcase h1,
#showcase p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
}

#showcase h1 {
  top: 140px;
  font-size: 50px;

}

#showcase p {
  font-size: 20px;
}

/* Newsletter */
#newsletter {
  width: 100%;
  background-color: rgb(119, 231, 128);
  padding-top: 2px;
  font-size: 20px;
  color: cornsilk;
}

#newsletter h1 {
  margin-left: 100px;
  float: left;
}

#newsletter form {
  float: left;
  margin-top: 28px;
  text-align: center;
  margin-left: 20%;

}

#newsletter input[type="email"] {
  width: 300px;
  height: 24px;
}

/* Boxes */
#boxes {
  margin-top: 30px;
}

#boxes .box {
  float: left;
  width: 30%;
  text-align: center;
  padding: 16px;
}

#boxes .box img {
  width: 100px;
  height: 100px;
}

/* Sidebar */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 46px;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea {
  width: 100%;
}

/* Main-col */
article#main-col {
  width: 64%;
  display: inline-block;
}

/* Services */
ul#services li {
  background-color: rgb(204, 228, 240);
  padding: 30px 20px;
  margin-bottom: 10px;
  border: 0.1px solid #000;
  margin: 12px 20px;
}

footer {
  background-color: rgb(11, 23, 184);
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: rgb(238, 240, 243);
}



/* Media Queries */
@media(max-width: 768px) {

  header #branding,
  header nav,

  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    /* margin: 0;
    padding: 0; */
    text-align: center;
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;

  }

  header {
    width: 100%;
  }

  

}

/* Global */
.container{
 

}

ul{
  

}

.button_1{
 

}

.dark{
 

}

/* Header **/
header{
  

}

header a{
  

}

header li{
  

}

header #branding{
 

}

header #branding h1{
  

}

header nav{
  

}

header .highlight, header .current a{
  

}

header a:hover{
  

}

/* Showcase */
#showcase{
  

}

#showcase h1{
  

}

#showcase p{
  

}

/* Newsletter */
#newsletter{
  

}

#newsletter h1{

}

#newsletter form {
 

}

#newsletter input[type="email"]{
  

}

/* Boxes */
#boxes{
  

}

#boxes .box{
  
}

#boxes .box img{
  
}

/* Sidebar */
aside#sidebar{
  
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  
}

/* Main-col */
article#main-col{
  
}

/* Services */
ul#services li{
  
}

footer{
  
}

/* Media Queries */
@media(max-width: 768px){

  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    
  }

  header{
    
  }

}
